name: CI-testing-msvc

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  job3:
    runs-on: windows-latest
    steps:
      - name: Setup MSVC Developer Command Prompt
        uses: TheMrMilchmann/setup-msvc-dev@v2.0.0
        with:
          arch: x64
      - name: run msvc
        run: msvc misc/test_files/single_file.cpp

